{% extends 'base.html.twig' %}

{% block header %}
{% endblock %}

{% block body %}
    <div class="login-background">
        <div class="login-container">
            <div class="login-logo"></div>
            <div class="login-button">
                <a href="{{ path('app.github_oauth.connect') }}">{{ 'login.login_button'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}
