<div class="header">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
            <img class="header-logo" src="{{ asset('build/images/testio-dark.png') }}" alt="logo">
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
            <div class="text-right">
                <a class="header-logout" href="{{ path('logout') }}">{{ 'logout'|trans }}</a>
            </div>
        </div>
    </div>
</div>
